*{
	margin: auto;
	background: #00AB84;
}

#up{
	display: scroll;
	position:fixed;
    bottom:100px;
    right: -1px;
    width: 7px;
    height: 0px;
    padding: 20px;
	border: solid 1px black;
	background: #5FAFDF;
}

#down{
	display: scroll;
	position:fixed;
    bottom:50px;
    right: -1px;
    width: 7px;
    height: 0px;
    padding: 20px;
	border: solid 1px black;
	background: #5FAFDF;
}

header{
	background: #00ab84;
	width: 90%;
	height: 143px;
	padding: 5px 0;
}

#logo{
	width: 170px;
	float: left;
	padding: 10px 10px 0px 10px;
	background: white;
	border-radius: 10px;
}

h1{
	font-size: 50px;
	line-height: 145px;
	float: left;
	color: white;
	padding-left: 70px;
}

nav{
	background: #009875;
	padding: 20px 10px;
	width: 90%;
}

nav a{
	color: black;
	text-decoration: none;
	padding: 17px 40px;
	text-transform: uppercase;
}

nav a:hover{
	background: #cdfff2;
}

section{
	width: 90%;
	padding: 10px 0px;
	border: solid 0px black;
	overflow: hidden;
	background: white;
	clear: both;
}

#sec_banner{
	width: 90%;
	margin: auto;
	display: block;
	background: white;
	padding: 0px 50px;
	height: auto;
}

#Banner{
	width: 85%;
}

#Banner:hover{
	filter: saturate(300%);
}

.laterales{
	width: 70px;
	background: white;
	padding-bottom: 130px;
}

#Contenido{
	width: 60%;
	float: left;
	background: white;
	padding: 10px 0px;
	height: auto;
}

h2{
	text-align-last: center;
	background: white;
}

.cajitas{
	width: 40%;
	float: left;
	padding: 10px 30px 20px 30px;
	background: white;
	height: auto;
}

.cajitas a{
	background: white;
	text-decoration: all;
}

h4{
	background: white;
}

.parrafo{
	color: black;
	background: none;
	float: left;
}

h3{
	background: white;
	text-align-last: center;
}

#primer, #segun, #quint, #sext{
	height: 185px;
}

.temario{
	width: 40%;
	float: left;
	padding: 10px 30px;
	background: white;
	height: 168px;
}

.blanco{
	width: 40%;
	float: left;
	padding: 10px 30px;
	background: white;
	height: 60px;
	background: white;
}

p{
	background: none;
}

#hora{
	width: 740px;
	background: white;
	padding: 10px 10px 80px 10px;
}

#a_hora{
	background: white;
}

aside{
	width: 38%;
	float: right;
	background: white;
	padding: 10px 0px;
}

#barra_busc{
	clear: both;
	float: left;
	width: 87%;
	border: solid 1px black;
	height: 20px;
}

#lupa{
	float: left;
	background: white;
	width: 30px;
	padding-left: 10px;
}

#Publicidad{
	width: 100%;
	margin: 0px auto;
}

form{
	clear: both;
	background: white;
	width: 90%;
	height: auto;
}

label{
	background: none;
	color: black;
	text-align-last: left;
	float: left;
	height: 20px;
	clear: both;
	margin: 5px 0px;
}

input{
	background: white;
	width: 80%;
	border: solid 1px black;
	height: 20px;
	float: right;
}

textarea{
	background: white;
	width: 75%;
	border: solid 1px black;
	height: 40px;
	float: right;
}

button{
	clear: both;
	float: right;
	padding: 20px;
	border: solid 1px black;
	background: none;
	margin-right: 2%;
	margin-top: 20px;
	width: 180px;
}

.galery{
	width: 410px;
}

#Com_egre{
	background: white;
	text-align: center;
	width: auto;
}

#calen{
	width: 800px;
	height: 1140px;
	padding: 10px;
	background: white;
}

#barra_comentario{
	width: 100%;
}

footer{
	clear: both;
	width: 90%;
	background: #212327;
	height: 140px;
	padding: 10px;
}

.copyright{
	background: none;
	color: white;
	text-align: center;
}

.imeg{
	width: 30px;
	float: right;
	background: #212327;
}